In [1]:
import pandas as pd
import numpy as np

In [4]:
df_customers = pd.read_csv('csv_data/customers.csv')

In [6]:
df_customers.head()

,customer_id,email,first_name,last_name,customer_segment,loyalty_tier,total_purchases,average_order_value,price_sensitivity_score,created_at,last_purchase_date
0,1,customer000001@example.com,Customer1,User1,budget,silver,87.38,9.71,0.83,2025-06-12 15:12:41.129152,2025-09-11 15:12:41.129163
1,2,customer000002@example.com,Customer2,User2,regular,silver,818.53,43.08,0.45,2024-04-23 15:12:41.129175,2025-07-03 15:12:41.129178
2,3,customer000003@example.com,Customer3,User3,budget,bronze,385.33,64.22,0.74,2023-12-04 15:12:41.129185,2025-06-19 15:12:41.129187
3,4,customer000004@example.com,Customer4,User4,budget,silver,11.87,0.59,0.88,2023-05-02 15:12:41.129192,2025-10-15 15:12:41.129193
4,5,customer000005@example.com,Customer5,User5,budget,silver,1152.83,104.80,0.83,2023-10-25 15:12:41.129198,2025-06-28 15:12:41.129199

In [7]:
df_customers.size

2200000

In [12]:
e=np.unique(df_customers['email']).size
c=np.unique(df_customers['customer_id']).size
cs=np.unique(df_customers['customer_segment']).size
lt= np.unique(df_customers['loyalty_tier']).size

In [13]:
e,c,cs,lt

(200000, 200000, 3, 4)