In [1]:
import pandas as pd
import numpy as np

In [14]:
df_customers = pd.read_csv('csv_data/customers.csv')

In [15]:
df_customers.head()

,customer_id,email,first_name,last_name,customer_segment,loyalty_tier,total_purchases,average_order_value,price_sensitivity_score,created_at,last_purchase_date
0,1,customer000001@example.com,Customer1,User1,budget,silver,87.38,9.71,0.83,2025-06-12 15:12:41.129152,2025-09-11 15:12:41.129163
1,2,customer000002@example.com,Customer2,User2,regular,silver,818.53,43.08,0.45,2024-04-23 15:12:41.129175,2025-07-03 15:12:41.129178
2,3,customer000003@example.com,Customer3,User3,budget,bronze,385.33,64.22,0.74,2023-12-04 15:12:41.129185,2025-06-19 15:12:41.129187
3,4,customer000004@example.com,Customer4,User4,budget,silver,11.87,0.59,0.88,2023-05-02 15:12:41.129192,2025-10-15 15:12:41.129193
4,5,customer000005@example.com,Customer5,User5,budget,silver,1152.83,104.80,0.83,2023-10-25 15:12:41.129198,2025-06-28 15:12:41.129199

In [16]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   customer_id              200000 non-null  int64
 1   email                    200000 non-null  object
 2   first_name               200000 non-null  object
 3   last_name                200000 non-null  object
 4   customer_segment         200000 non-null  object
 5   loyalty_tier             200000 non-null  object
 6   total_purchases          200000 non-null  float64
 7   average_order_value      200000 non-null  float64
 8   price_sensitivity_score  200000 non-null  float64
 9   created_at               200000 non-null  object
 10  last_purchase_date       200000 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 16.8+ MB

In [17]:
df_customers.size

2200000

In [18]:
e=np.unique(df_customers['email']).size
c=np.unique(df_customers['customer_id']).size
cs=np.unique(df_customers['customer_segment']).size
lt= np.unique(df_customers['loyalty_tier']).size

In [19]:
e,c,cs,lt

(200000, 200000, 3, 4)

In [20]:
df_products = pd.read_csv('csv_data/products.csv')

In [21]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     50000 non-null  int64
 1   product_name   50000 non-null  object
 2   category_id    50000 non-null  int64
 3   sku            50000 non-null  object
 4   description    50000 non-null  object
 5   base_cost      50000 non-null  float64
 6   base_price     50000 non-null  float64
 7   current_price  50000 non-null  float64
 8   min_price      50000 non-null  float64
 9   max_price      50000 non-null  float64
 10  brand          50000 non-null  object
 11  is_active      50000 non-null  bool
 12  created_at     50000 non-null  object
 13  updated_at     50000 non-null  object
dtypes: bool(1), float64(5), int64(2), object(6)
memory usage: 5.0+ MB

In [25]:

df_products.nunique()

product_id       50000
product_name     50000
category_id         50
sku              50000
description      50000
base_cost        47596
base_price       49097
current_price    49108
min_price        48604
max_price        49097
brand               15
is_active            2
created_at       50000
updated_at       50000
dtype: int64

In [23]:
df_products.describe()

,product_id,category_id,base_cost,base_price,current_price,min_price,max_price
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,25000.500000,25.578020,2509.384185,6029.412075,6025.913347,4220.588126,9044.118106
std,14433.901067,14.399252,1439.193589,3911.747124,3929.693289,2738.222989,5867.620689
min,1.000000,1.000000,5.020000,8.240000,7.900000,5.770000,12.360000
25%,12500.750000,13.000000,1264.827500,2811.532500,2796.682500,1968.075000,4217.300000
50%,25000.500000,26.000000,2507.540000,5598.345000,5577.075000,3918.840000,8397.520000
75%,37500.250000,38.000000,3751.122500,8689.335000,8675.630000,6082.535000,13034.002500
max,50000.000000,50.000000,4999.990000,17296.600000,18937.100000,12107.620000,25944.900000

In [22]:
df_products.head()

,product_id,product_name,category_id,sku,description,base_cost,base_price,current_price,min_price,max_price,brand,is_active,created_at,updated_at
0,1,Professional Pack 00001,47,SKU-00000001,High-quality product with advanced features - ...,4838.08,13869.74,14538.00,9708.82,20804.61,ValueMax,True,2024-04-04 15:12:40.766192,2025-11-21 15:12:40.766198
1,2,Basic System 00002,14,SKU-00000002,High-quality product with advanced features - ...,2509.17,7832.44,7677.36,5482.71,11748.66,EcoChoice,True,2024-12-03 15:12:40.766208,2025-11-29 15:12:40.766210
2,3,Premium Series 00003,19,SKU-00000003,High-quality product with advanced features - ...,4031.17,6646.64,6046.05,4652.65,9969.96,ComfortZone,True,2024-05-30 15:12:40.766215,2025-11-12 15:12:40.766217
3,4,Advanced Tool 00004,26,SKU-00000004,High-quality product with advanced features - ...,1816.79,4926.18,5118.44,3448.33,7389.27,SmartLife,True,2023-12-09 15:12:40.766221,2025-12-05 15:12:40.766222
4,5,Basic Collection 00005,6,SKU-00000005,High-quality product with advanced features - ...,3028.20,8061.73,8105.22,5643.21,12092.59,TopTier,True,2025-01-19 15:12:40.766227,2025-11-12 15:12:40.766229

In [ ]:
df_pricing_rules = pd.read_csv('csv_data/pricing_rules.csv')
df_pricing_history = pd.read_csv('csv_data/pricing_history.csv')    
df_pricing_adjustments = pd.read_csv('csv_data/price_adjustments.csv')
df_orders = pd.read_csv('csv_data/orders.csv')
df_order_items = pd.read_csv('csv_data/order_items.csv')
df_inventory = pd.read_csv('csv_data/inventory.csv')
df_demand_metrics = pd.read_csv('csv_data/demand_metrics.csv')
df_competitor_prices = pd.read_csv('csv_data/competitor_prices.csv')
df_competitor= pd.read_csv('csv_data/competitors.csv')
df_categories = pd.read_csv('csv_data/categories.csv')

In [29]:
df_pricing_rules.nunique()

rule_id                  5
rule_name                5
rule_type                4
priority                 5
is_active                1
conditions               5
actions                  5
min_price_change         4
max_price_change         5
applicable_categories    2
applicable_products      0
start_date               1
end_date                 0
created_at               5
updated_at               5
dtype: int64

In [31]:
df_pricing_history.nunique()

price_history_id           365000
product_id                  49963
old_price                  319409
new_price                  319555
price_change_percentage      4001
reason                          9
changed_by                      3
created_at                 365000
dtype: int64

In [32]:
df_pricing_adjustments.nunique()

adjustment_id            182500
product_id                48665
rule_id                       5
old_price                170346
new_price                170457
adjustment_percentage      3001
trigger_reason                5
trigger_data                  1
applied_at               182500
applied_by                    1
was_successful                2
dtype: int64